<div class="jumbotron"><h1>Alpha Blog Home </h1></div>
<p>Welcome to the personal Alpha Blog of The Gross Profit. I'm AG , the grossest in all the land and would <%= link_to 'love to hand you some churritos', about_path %> but can't do so digitally...I'm sorry.</p>

<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>